# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Scrapy
.scrapy/

# Data outputs
*.jl
*.sqlite
*.db


# OS
.DS_Store
Thumbs.db
.vscode/

# Environment variables / secrets
.env
.env.*
!.env.docker.example

# Node / TypeScript
node_modules/
dist/
build/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*


chatbot/ollama/Lib/
chatbot/app/__pycache__
*.zip

# git
.git/

*.pdf